service: failureLambdaExample
frameworkVersion: ">=3.0.0"
provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 128
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ssm:GetParameters
            - ssm:GetParameter
          Resource:
            Fn::Join:
              - ''
              - - 'arn:aws:ssm:${aws:region}:*:parameter/'
                - Ref: failureLambdaParameter
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:UpdateItem
          Resource:
            Fn::Join:
              - ''
              - - 'arn:aws:dynamodb:${aws:region}:*:table/'
                - Ref: failureLambdaTable
functions:
  failureLambdaExample:
    handler: handler.handler
    timeout: 3
    environment:
      FAILURE_INJECTION_PARAM:
        Ref: failureLambdaParameter
      FAILURE_INJECTION_TABLE:
        Ref: failureLambdaTable
    events:
      - http:
          path: /
          method: get
          cors: true
resources:
  Resources:
    failureLambdaParameter:
      Type: 'AWS::SSM::Parameter'
      Properties:
        Type: String
        Value: '{"latency": {"enabled": false, "rate": 1, "min_latency": 100, "max_latency": 400}, "exception": {"enabled": false, "rate": 1, "exception_msg": "Exception message!"}, "statuscode": {"enabled": false, "rate": 1, "status_code": 404}, "diskspace": {"enabled": false, "rate": 1, "disk_space": 100}, "denylist": {"enabled": false, "rate": 1, "deny_list": ["s3.*.amazonaws.com", "dynamodb.*.amazonaws.com"]}}'
    failureLambdaTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Delete
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: N
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
package:
  exclude:
    - .vscode
    - .serverless
